form {
    margin: 0 0 2em 0;
}

    form .field {
        margin-bottom: 1.5em;
    }

        form .field.half {
            display: inline-block;
            width: 48%;
        }

            form .field.half.first {
                margin-right: 3%;
            }

    @media screen and (max-width: 980px) {

        form .field.half {
            display: block;
            width: 100%;
        }

            form .field.half.first {
                margin-right: 0;
            }

    }

#footer {
    background-color: #F64747;
    color: #fdd1d1;
    padding: 6em 0 4em 0;
    background: #F64747;
}

    #footer input, #footer select, #footer textarea {
        color: #ffffff;
    }

    #footer a {
        color: #ffffff;
    }

    #footer strong, #footer b {
        color: #ffffff;
    }

    #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
        color: #ffffff;
    }

    #footer blockquote {
        border-left-color: rgba(255, 255, 255, 0.25);
    }

    #footer code {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
    }

    #footer hr {
        border-bottom-color: rgba(255, 255, 255, 0.25);
    }

    #footer input[type="submit"],
    #footer input[type="reset"],
    #footer input[type="button"],
    #footer button,
    #footer .button {
        background-color: #5a5a5a;
        color: #ffffff !important;
    }

        #footer input[type="submit"]:hover,
        #footer input[type="reset"]:hover,
        #footer input[type="button"]:hover,
        #footer button:hover,
        #footer .button:hover {
            background-color: #676767;
        }

        #footer input[type="submit"]:active,
        #footer input[type="reset"]:active,
        #footer input[type="button"]:active,
        #footer button:active,
        #footer .button:active {
            background-color: #4d4d4d;
        }

        #footer input[type="submit"].alt,
        #footer input[type="reset"].alt,
        #footer input[type="button"].alt,
        #footer button.alt,
        #footer .button.alt {
            background-color: transparent;
            box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
            color: #ffffff !important;
        }

            #footer input[type="submit"].alt:hover,
            #footer input[type="reset"].alt:hover,
            #footer input[type="button"].alt:hover,
            #footer button.alt:hover,
            #footer .button.alt:hover {
                background-color: rgba(255, 255, 255, 0.075);
            }

            #footer input[type="submit"].alt:active,
            #footer input[type="reset"].alt:active,
            #footer input[type="button"].alt:active,
            #footer button.alt:active,
            #footer .button.alt:active {
                background-color: rgba(255, 255, 255, 0.2);
            }

            #footer input[type="submit"].alt.icon:before,
            #footer input[type="reset"].alt.icon:before,
            #footer input[type="button"].alt.icon:before,
            #footer button.alt.icon:before,
            #footer .button.alt.icon:before {
                color: #fbb5b5;
            }

        #footer input[type="submit"].special,
        #footer input[type="reset"].special,
        #footer input[type="button"].special,
        #footer button.special,
        #footer .button.special {
            background-color: #ffffff;
            color: #F64747 !important;
        }

    #footer label {
        color: #ffffff;
    }

    #footer input[type="text"],
    #footer input[type="password"],
    #footer input[type="email"],
    #footer select,
    #footer textarea {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
    }

        #footer input[type="text"]:focus,
        #footer input[type="password"]:focus,
        #footer input[type="email"]:focus,
        #footer select:focus,
        #footer textarea:focus {
            border-color: #ffffff;
            box-shadow: 0 0 0 1px #ffffff;
        }

    #footer .select-wrapper:before {
        color: rgba(255, 255, 255, 0.25);
    }

    #footer input[type="checkbox"] + label,
    #footer input[type="radio"] + label {
        color: #fdd1d1;
    }

        #footer input[type="checkbox"] + label:before,
        #footer input[type="radio"] + label:before {
            background: rgba(255, 255, 255, 0.075);
            border-color: rgba(255, 255, 255, 0.25);
        }

    #footer input[type="checkbox"]:checked + label:before,
    #footer input[type="radio"]:checked + label:before {
        background-color: #ffffff;
        border-color: #ffffff;
        color: #F64747;
    }

    #footer input[type="checkbox"]:focus + label:before,
    #footer input[type="radio"]:focus + label:before {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
    }

    #footer ::-webkit-input-placeholder {
        color: #fbb5b5 !important;
    }

    #footer :-moz-placeholder {
        color: #fbb5b5 !important;
    }

    #footer ::-moz-placeholder {
        color: #fbb5b5 !important;
    }

    #footer :-ms-input-placeholder {
        color: #fbb5b5 !important;
    }

    #footer .formerize-placeholder {
        color: #fbb5b5 !important;
    }

    #footer ul.alt li {
        border-top-color: rgba(255, 255, 255, 0.25);
    }

    #footer header p {
        color: #fbb5b5;
    }

    #footer table tbody tr {
        border-color: rgba(255, 255, 255, 0.25);
    }

        #footer table tbody tr:nth-child(2n + 1) {
            background-color: rgba(255, 255, 255, 0.075);
        }

    #footer table th {
        color: #ffffff;
    }

    #footer table thead {
        border-bottom-color: rgba(255, 255, 255, 0.25);
    }

    #footer table tfoot {
        border-top-color: rgba(255, 255, 255, 0.25);
    }

    #footer table.alt tbody tr td {
        border-color: rgba(255, 255, 255, 0.25);
    }

    #footer .inner {
        margin: 0 auto;
    }

    #footer h2 {
        margin-bottom: 2em;
        text-align: center;
    }

    #footer .icons {
        text-align: center;
        padding-top: 1em;
    }

    #footer .copyright {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.8em;
        margin: 0 0 2em 0;
        padding: 0;
        text-align: center;
    }

    #footer .icon.round {
        display: block;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 100%;
        height: 4em;
        width: 4em;
        line-height: 4em;
        color: #FFF;
    }

        #footer .icon.round:hover {
            color: rgba(255, 255, 255, 0.25);
            background: none;
            box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
        }

    @media screen and (max-width: 736px) {

        #footer {
            padding: 3em 0 1em 0;
        }

    }